.glowyText {
  margin-top: 0px;
  text-shadow: var(--archive-blue) 0px 0 10px;
}

.customLink {
  color: var(--archive-blue);
  text-decoration: underline;
  transition-property: opacity, text-decoration;
  transition-duration: 0.3s;
}

.customLink:hover,
.customLink:focus {
  text-decoration: underline #000000;
}

.customButton {
  text-decoration: none;
  background-color: transparent;
  border: 1px solid var(--archive-white);
  border-radius: 2px;
  color: var(--archive-white);
  padding: 3px 10px;
  transition-property: background-color, color;
  transition-duration: 0.3s;
}

.customButton:hover,
.customButton:focus {
  cursor: pointer;
  background-color: var(--archive-white);
  color: var(--archive-light-gray);
  text-decoration: none;
}
