.glowyText {
  margin-top: 0px;
  text-shadow: var(--archive-blue) 0px 0 10px;
}

.customLink {
  color: var(--archive-blue);
  text-decoration: none;
  transition: opacity 0.3s;
}

.customLink:hover {
  opacity: 0.75;
}

.customButton {
  text-decoration: none;
  background-color: transparent;
  border: 1px solid var(--archive-white);
  border-radius: 2px;
  color: var(--archive-white);
  padding: 3px 10px;
  transition-property: background-color, color;
  transition-duration: 0.3s;
}

.customButton:hover {
  cursor: pointer;
  background-color: var(--archive-white);
  color: var(--archive-light-gray);
}