.description {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
}

.description__title {
  margin-top: 0px;
  text-shadow: var(--archive-blue) 0px 0 10px;
}

.description a {
  color: var(--archive-blue);
  text-decoration: none;
  transition: opacity 0.3s;
}

.description a:hover {
  opacity: 0.75;
}
